<div class="container p-4 border rounded mx-auto col-5 mt-3">
    <form action="/images/add" method="POST" >
        <div class="form-group column">
            <label>Titulo</label>
            <input type="text" class="form-control" name="titulo" placeholder="Escriba el título de la imagen" autofocus>
            
        </div>

        <div class="form-group">
            <label>Imagen</label>
            <input type="url" class="form-control" name="imagen" placeholder="Url de la imagen">
        </div>

        <div class="form-group column">
            <label>Descripcion</label>
            <textarea name="descripcion" rows="4" placeholder="Escriba aquí la descripción"></textarea>
        </div>
        <button type="submit" class="btn btn-primary"><a href="/images"></a> Submit</button>
    </form>
</div>