
{{#each images}}
    <div class="card border-light mb-3" style="max-width: 18rem;">
        <div class="card-header">
            <h1>
                {{titulo}}
            </h1>
        </div>
        <div class="card-body">
            <img src="{{imagen}}" alt="" class="w-50">
            <p class="card-text">{{descripcion}}</p>
        </div>
    </div>
{{/each}}

    